* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: lightpink;
}
header{
        height: 200px;
    background-size: cover;
    position:relative;
}
header img{
    object-fit: cover;
}
nav ol{
    display: flex;
    flex-direction: row;
}
nav li{
    margin-left: 20px;
    margin-right: 20px;
}
.karukan2{
    height: 191px;
    width: 294px;
    margin: 0px;
}
.karukan3{
    margin: 0px;
}
.karukan4{
    width: auto;
    height: 191px;
    margin: 0px;
}
.colwhi{
    color: yellow;
}
header h1{
    position: absolute;
    top: 70px;
    left:250px;
}
.karutuku{
    margin-top: 20px;
    border-top: groove;
}
main{
    margin-left: 15px;
}
